a2wsgi==1.7.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.3
curio==1.6
cx_Oracle==8.3.0
Cython==3.0.0
dl==0.1.0
docutils==0.20.1
eventlet==0.33.3
gunicorn==21.2.0
HTMLParser==0.0.2
httptools==0.6.0
httpx==0.24.1
ipython==8.14.0
ipywidgets==8.1.0
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
numpy==1.25.2
objgraph==3.6.0
ordereddict==1.1
outcome==1.2.0
Pillow==10.0.0
protobuf==4.24.1
psutil==5.9.5
pygame==2.5.1
pyOpenSSL==23.2.0
pysqlcipher3==1.2.0
pytest==7.4.0
python-dotenv==1.0.0
PyYAML==6.0.1
railroad==0.5.0
Sphinx==7.2.2
sqlcipher3==0.5.1
toml==0.10.2
tornado==6.3.3
trio==0.22.2
trio_typing==0.9.0
trollius==2.2.1
truststore==0.7.0
Twisted==22.10.0
urllib3_secure_extra==0.1.0
watchdog==3.0.0
watchfiles==0.19.0
watchgod==0.8.2
wsproto==1.2.0
xmlrpclib==1.0.1
